:root{
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    --color: #0077ff;
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
}
#Header {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 2rem;
}

/* Side Nav */
.side-nav {
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: #64748B;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.user div {
    margin: auto;
    display: flex;
    flex-direction: column;

}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.user h2 {
    color: var(--hover-text);
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}
.user p {
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    margin-top: 5px;
}
.user img {
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
ul {
    list-style: none;
    padding: 0 15px;
}
ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
ul li img {
    width: 30px;
    margin-right: 10px;
}
ul li p {
    white-space: nowrap;
}
.side-link {
    color: var(--dark);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.side-link:hover {
    color: var(--color);
    text-decoration: none;
}
.log-out {
    color: red;
    font-size: 16px;
    font-weight: 700;
}
.log-out:hover {
    text-decoration: none;
    color: var(--dark)
}

/* Top nav */
#Header .top-nav {
    width: 100%;
    margin-left: 0;
    height: 80px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #64748B;
    backdrop-filter: blur(5px);
}
.top-nav .search-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
}
.search-box input {
    padding: 8px 16px;
    background-color: #0F172A;
    color: #fff;
    border: 2px solid var(--dark);
    border-radius: 8px;
}
.top-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    cursor: pointer;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid var(--light-grey);
}

/* App content */