.notifications h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: cursive;
}
.notification-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.notification-list .user-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}